---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About Grandpa Dave';
const description = 'About Sola Deo and Grandpa Dave.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Grandpa Dave</h1>
    <figure class="about-image">
      <img src="/SolaDeo/assets/dlhmugshot.jpg" alt="Grandpa Dave" width="330">
    </figure>
    <section id="about-me">
      <p>
        Hi! This is Grandpa again, and I've been changed by the love and grace of Jesus Christ. My greatest hope is that you, your parents, and all your relatives would come to know <b>Jesus</b> deeply, trust Him fully, and walk with Him every day.
      </p>
      <p>
        I’ve followed Jesus for many years, and the more I read His Word, the more I see that <strong>Jesus is everything</strong>. The Bible isn’t just a book on my shelf—it’s the true story that guides my steps and fills my life with hope. 
      </p>
      <p>
        I created <b>Sola Deo</b> for you, my grandkids (and anyone else who wants to join us!), so you’ll always know that God’s love is real, His Word is true, and He is worth living for. These devotionals come from my heart, my faith, and my desire for you to experience God’s grace and truth for yourself.
      </p>
      <p>
        I believe the 5 Solas—Scripture alone, Grace alone, Faith alone, Christ alone, to the glory of God alone—are the foundation for a life that matters. But more than ideas, I want you to see how these truths change everything. You’re never alone on this journey, you have Jesus and me to help guide you. 
      </p>
      <p>
        If you want to know more about what I believe, you can read my <a href="/SolaDeo/blog/personal-statement">personal statement of faith</a>. But more than anything, I pray you will come to know and love Jesus for yourself.
      </p>
      <p style="margin-top:2em; font-style:italic;">
        With all my love,<br>
        Grandpa Dave
      </p>
    </section>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -1em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  #about-me {
    font-family: var(--font-family-sans);
    line-height: 1.6;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
